<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Mask Demo</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.5/angular-locale_pt-br.js"></script>
	<script src="angular-input-masks/releases/masks.js"></script>
	<script src="ui-utils-0.1.1/ui-utils.js"></script>
	<script>
		angular.module('demo', ['ui.utils.masks', 'ui.mask']);

		function ctrl($scope) {
			$scope.initializedPhoneNumber = '3133536767';
			$scope.phoneNumber6 = '1234123412'; 
		}
	</script>
</head>
<body ng-app="demo">
	<form name="form" ng-controller="ctrl">

		<h2>ui-br-phone-number</h2>
		<input type="text" name="phoneNumber" ng-model="phoneNumber" my-phone-number><br>
		<span ng-bind="phoneNumber">-</span>
		<br>
		<input type="text" name="phoneNumber2" ng-model="phoneNumber2" my-phone-number><br>
		<span ng-bind="phoneNumber2">-</span>
		<br>
		<input type="text" name="phoneNumber3" ng-model="phoneNumber3" my-phone-number><br>
		<span ng-bind="phoneNumber3">-</span>
		<br>
		<input type="text" name="initializedPhoneNumber" ng-model="initializedPhoneNumber" my-phone-number><br>
		<span ng-bind="initializedPhoneNumber">-</span>
		<br>

		<h2>ui-mask</h2>
		<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="phoneNumber5" ng-model="phoneNumber5" ui-mask="(999) 999-9999"><br>
		Value: <span ng-bind="phoneNumber5">-</span>
		<br>
		<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="phoneNumber6" ng-model="phoneNumber6" ui-mask="(999) 999-9999"><br>
		Value: <span ng-bind="phoneNumber6">-</span>
		<br>
		<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="phoneNumber7" ng-model="phoneNumber7" ui-mask="(999) 999-9999"><br>
		Value: <span ng-bind="phoneNumber7">-</span>
		<br>
		Changed2

	</form>
</body>
</html>
